<h1>These are some cool duckys:</h1>

  <h2>
    <%= link_to 'Create a Duck', new_duck_url %>
  </h2>


<ul>
  <% @ducks.each do |duck| %>
    <li> 
      <%= link_to duck.name, duck_url(duck) %>
  <% end %>
</ul>
